#### GENERAL

node_modules/

.DS_Store
dist/
build/
tmp/
*.log
*.lock

### API

.env
.env.production
.env.development

### APP and Web

environment.prod.ts
environment.dev.ts

### Microservices

## Authentication - .NET Core

.vs/
obj/
bin/



